{% extends 'trade/base.html' %}

{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<form class="row g-3" action="" method="post">
    {% csrf_token %}
  <div class="col-auto">
    <label  class="visually-hidden">Период с</label>
    {{ form.date_start }}
  </div>
  <div class="col-auto">
    <label class="visually-hidden">по</label>
    {{ form.date_end }}
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2">Сформировать</button>
  </div>
</form>

<canvas id="myChart" style="width:30%;"></canvas>

{% autoescape off %}
<script>
var xValues = {{ managers }};
var yValues = {{ percents }};
var barColors = {{ colors }};

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    responsive: false,
    maintainAspectRatio: true,
    title: {
      display: true,
      text: "Доли продаж по менеджерам/торговым"
    }
  }
});
</script>
{% endautoescape %}
{% endblock%}